<ion-header>
  <ion-navbar color="dark">
    <ion-title text-center>Información Médica</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div class="container">
    <ul>
      <li *ngFor="let info of data"(click)="revisarFicha(info)"><span></span>
        <div>
          <div class="title" *ngIf="info.type=='ficha' ">{{ info.date }}</div>

          <div class="title" *ngIf="info.type=='med'">{{ info.name }}</div>

          <div class="info" *ngIf="info.type=='ficha' ">{{ (info.body)?.substring(0,20) }}...</div>

          <div class="info" *ngIf="info.type=='med'">{{ info.dosis }}...</div>

        </div> <span class="number"><span>{{ info.s_date }}</span> </span>
      </li>
    </ul>
  </div>

  

</ion-content>