page-informacion {
    @import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,600,700");
    .content {
        height: 100vh;
        font-family: "Ubuntu", sans-serif;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bea2e7+0,86b7e7+100 */
        background: #ffc1a7ff;
        /* Old browsers */
        background: -moz-linear-gradient(to bottom right, #ffc1a7ff 0%, #f67e7dff 22%, #7d7aa2ff 89%, #5a819eff 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(to bottom right, #ffc1a7ff 0%, #f67e7dff 22%, #7d7aa2ff 89%, #5a819eff 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom right, #ffc1a7ff 0%, #f67e7dff 22%, #7d7aa2ff 89%, #5a819eff 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bea2e7', endColorstr='#86b7e7',GradientType=0 );
        /* IE6-9 */
        background-image: url('../assets/fondo-2.png');
        }
        
    .container ul {
        margin: 0;
        margin-top: 30px;
        list-style: none;
        position: relative;
        color: #fff;
        font-size: 13px;
    }
    .container ul:before {
        content: "";
        width: 1px;
        height: 100%;
        position: absolute;
        border-left: 2px dashed #fff;
    }
    .container ul li {
        position: relative;
        margin-left: 30px;
        margin-right: 20px;
        background-color: rgba(255, 255, 255, 0.2);
        padding: 14px;
        border-radius: 6px;
        /* width: 250px;*/
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.08);
    }
    .container ul li:not(:first-child) {
        margin-top: 2em; //60px;
    }
    .container ul li > span {
        width: 2px;
        height: 100%;
        background: #fff;
        left: -30px;
        top: 0;
        position: absolute;
    }
    .container ul li > span:before, .container ul li > span:after {
        content: "";
        width: 8px;
        height: 8px;
        border-radius: 50%;
        border: 2px solid #fff;
        position: absolute;
        background: rgb(160,123,152);
        left: -5px;
        top: 0;
    }
    .container ul li span:after {
        top: 0%;
    }
    .container ul li > div {
        margin-left: 10px;
    }
    .container div .title, .container div .type {
        font-weight: 600;
        font-size: 12px;
    }
    .container div .info {
        font-weight: 300;
    }
    .container div > div {
        margin-top: 5px;
    }
    .container span.number {
        height: 100%;
    }
    .container span.number span {
        position: absolute;
        font-size: 10px;
        left: -35px;
        font-weight: bold;
    }
    .container span.number span:first-child {
        top: 0;
    }
    .container span.number span:last-child {
        top: 0%;
    }
}
