page-home {
    .barra {
        background-color: none;
    }

    .titulo_ {
        font-family: Lobster;
        color: black;
        display:inline-block;
        margin-bottom:10px;
        margin-top: 10px;
        font-size: 2rem;
    }

    .fondo {   
        background-image: linear-gradient(to bottom right, #ffc1a7ff 0%, #f67e7dff 22%, #7d7aa2ff 89%, #5a819eff 100%);
        padding: -16px;
    }

    .fondo2 {
        background-color:rgba(255,229,196,0.2);
        padding: 16px;
    }

    .boton_inicio {
        background-color:rgba(255,229,196,0.2); 
        border-radius: 25px;
        margin: 5px;
    }

    .imagenes_botones {
        width: 70%; 
        height: auto;
        margin-top: 2px;
        margin-bottom: 5px;
    }

    .container ul {
        margin: 0;
        list-style: none;
        position: relative;
        color: #fff;
        font-size: 13px;
    }

    .container ul li {
        position: relative;
        background-color: rgba(255, 255, 255, 0.2);
        padding: 10px;
        border-radius: 6px;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.08);
        text-align: center;
    }

    .container ul li span:after {
        top: 0%;
    }

    .container div .titulo, .container div .type {
        font-weight: 600;
        font-size: 12px;
        text-align: center;
        margin-top: 5px;
    }
    .container div .info {
        font-weight: 300;
    }
    .container div > div {
        margin-top: 5px;
    }

}