

<ion-content padding>

<ion-card>

    <ion-item>
        <ion-avatar item-start>
            <img src="../../assets/imgs/doctor1.png">
        </ion-avatar>
        <h2>{{ info.doctor }}</h2>
        <p>{{ info.date }}</p>
    </ion-item>

    <img src="../../assets/imgs/hospital3.gif">

    <ion-card-content>
        <p>{{ info.body }}</p>
        <br>
        <ion-row>
            <p>Medicamentos</p>
            <ion-item *ngFor="let med of info.med">
                <p>{{ med }}</p>
            </ion-item>
        </ion-row>

        <ion-row>
            <p>Recomendaciones</p>
            <ion-item *ngFor="let reco of info.reco">
                <p>{{ reco }}</p>
            </ion-item>
        </ion-row>

        <ion-row>
            <p>Exámenes indicados</p>
            <ion-item *ngFor="let ex of info.ex">
               <p>{{ ex }}</p>
            </ion-item>
        </ion-row>

    </ion-card-content>

    <!-- <ion-row>
<ion-col>
  <button ion-button color="primary" clear small icon-start>
    <ion-icon name='text'></ion-icon>
    No hay comentarios de otros profesionales
  </button>
</ion-col>
<ion-col align-self-center text-center>
  <ion-note>
    Hace 12 días
  </ion-note>
</ion-col>
</ion-row>
-->

</ion-card>


</ion-content>
