
<ion-header>
    <ion-navbar color="dark">
      <ion-title text-center>Detalle de la información</ion-title>
    </ion-navbar>
  </ion-header>
<ion-content padding>

<ion-card *ngIf="info.type=='ficha'">
    <ion-item>
        <ion-avatar item-start>
            <img src="../../assets/imgs/doctor1.png">
        </ion-avatar>
        <h2>{{ info.doctor }}</h2>
        <p>{{ info.date }}</p>
        
    </ion-item>

    <img src="../../assets/imgs/hospital3.gif">

    <ion-card-content>
        <p>{{ info.body }}</p>
        <br>
        <ion-row>
            <p>Medicamentos</p>
            <ion-item *ngFor="let med of info.med">
                <p>{{ med }}</p>
            </ion-item>
        </ion-row>

        <ion-row>
            <p>Recomendaciones</p>
            <ion-item *ngFor="let reco of info.reco">
                <p>{{ reco }}</p>
            </ion-item>
        </ion-row>

        <ion-row>
            <p>Exámenes indicados</p>
            <ion-item *ngFor="let ex of info.ex">
               <p>{{ ex }}</p>
            </ion-item>
        </ion-row>

    </ion-card-content>
</ion-card>

<ion-card *ngIf="info.type=='med'">
    <ion-item>
        <ion-avatar item-start>
            <img src="../../assets/imgs/doctor1.png">
        </ion-avatar>
        <h2>{{ info.name }}</h2>
        <p>Recetado por: Juan Salas</p>
        
    </ion-item>
    
    <ion-card-content>
        <p>{{ info.dosis }}</p>
        <br>
        <ion-row>
            <p><b>Composición:</b></p>
                <p>{{ info.info.com }}</p>
        </ion-row>
        <br>
        <ion-row>
            <p><b>Acción terapéutica:</b></p>
                <p>{{ info.info.acc }}</p>
        </ion-row>
        <br>
        <ion-row>
            <p><b>Indicaciones:</b></p>
               <p>{{ info.info.ind }}</p>
        </ion-row>
        <br>
        <ion-row>
            <p><b>Posología:</b></p>
               <p>{{ info.info.pos }}</p>
        </ion-row>
        <br>
        <ion-row>
            <p><b>Contraindicaciones:</b></p>
               <p>{{ info.info.con}}</p>
        </ion-row>
        <br>
        <ion-row>
            <p><b>Presentaciones:</b></p>
               <p>{{ info.info.pres }}</p>
        </ion-row>

    </ion-card-content>
</ion-card>





</ion-content>
